body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

a {
	color: #3fbbc0;
	text-decoration: none;
}

a:hover {
	color: #65c9cd;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.alert-success {
	z-index: 1;
	background: #D4EDDA;
	font-size: 14px;
	font-weight: 700;
	padding: 20px 40px;
	width: 100%;
	border-left: 8px solid #3AD66E;
	border-radius: 4px;
}

.alert-error {
	z-index: 1;
	background: #FFF3CD;
	font-size: 14px;
	font-weight: 700;
	padding: 20px 40px;
	width: 100%;
	border-left: 8px solid #FFA502;
	border-radius: 4px;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #3fbbc0;
	border-top-color: #ecf8f9;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #0c953b;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 1;
}

.back-to-top:hover {
	background: #0c953b;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

#topbar {
	background: #0c953b;
	color: #fff;
	height: 30px;
	font-size: 16px;
	font-weight: 600;
	z-index: 996;
	transition: all 0.5s;
}

#topbar.topbar-scrolled {
	top: -40px;
}

#topbar i {
	padding-right: 6px;
	line-height: 0;
}

#header {
	background: #ecf0b2;
	transition: all 0.5s;
	z-index: 997;
	padding: 10px 0;
	top: 30px;
}

@media (max-width: 992px) {
	#header {
		padding: 5px 0;
	}
}

#header.header-scrolled {
	top: 0;
}

#header .logo img {
	max-width: 80%;
	color: #0c953b;
}

.btn {
	border-radius: 4px;
	padding: 20px 35px;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 18px;
	display: inline-block;
	background: #0c953b;
	color: #fff;
}

.btn:hover {
	border: 1px solid #0c953b;
	color: #0c953b;
	background-color: #ecf0b2;
}

@media (max-width: 768px) {
	.btn {
		margin: 0 15px 0 0;
		padding: 20px 35px;
	}
}

.form-group {
	margin: 0 auto 1.25rem auto;
	padding: 0.25rem;
	outline: none;
}

.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	color: #626262;
	white-space: nowrap;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar a i, .navbar a:focus i {
	font-size: 12px;
	line-height: 1;
	margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
	color: #0c953b;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
	border-radius: 4px;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	text-transform: none;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
	color: #3fbbc0;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

.mobile-nav-toggle {
	color: #0c953b;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 1;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: #fff;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
		text-align: center;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(60, 60, 60, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	border-radius: 8px;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
	text-align: center;
}

.navbar-mobile a, .navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #555555;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
	color: #0c953b;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	text-align: center;
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
	color: #3fbbc0;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

#hero {
	width: 100%;
	height: 100vh;
	background: #ecf0b2;
}

#hero .container {
	padding-top: 150px;
}

#hero h1 {
	margin: 0 0 10px 0;
	font-size: 45px;
	line-height: 56px;
	color: #25bb57;
}

#hero h2 {
	color: rgba(125, 129, 126, 0.6);
	margin-bottom: 50px;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: justify;
	font-weight: normal;
}

#hero .btn-get-started {
	font-family: "Jost", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px 11px 28px;
	border-radius: 10px;
	transition: 0.5s;
	margin: 0px 10px 0 0;
	color: #fff;
	background: #0c953b;
}

#hero .btn-get-started:hover {
	background: transparent;
	border: 2px solid #0c953b;
	color: #0c953b;
}

.btn-get-started {
	font-family: "Jost", sans-serif;
	font-weight: 500;
	font-size: 17px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px;
	border-radius: 10px;
	transition: 0.5s;
	margin: 10px 10px 10px 10px;
	background: transparent;
	border: 2px solid #0c953b;
	color: #0c953b;
	;
}

.btn-get-started:hover {
	color: #fff;
	background: #0c953b;
}

#hero .btn-watch-video {
	font-size: 16px;
	display: inline-block;
	padding: 10px 0 8px 40px;
	transition: 0.5s;
	margin: 10px 0 0 25px;
	color: #fff;
	position: relative;
}

#hero .btn-watch-video i {
	color: #fff;
	font-size: 32px;
	position: absolute;
	left: 0;
	top: 7px;
	transition: 0.3s;
}

#hero .btn-watch-video:hover i {
	color: #47b2e4;
}

#hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
	#hero {
		height: 100vh;
		text-align: center;
	}

	#hero .animated {
		-webkit-animation: none;
		animation: none;
	}

	#hero .hero-img {
		text-align: center;
	}

	#hero .hero-img img {
		width: 50%;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	#hero .hero-img img {
		width: 70%;
	}
}

@media (max-width: 575px) {
	#hero .hero-img img {
		width: 100%;
	}

	#hero .btn-get-started {
		font-size: 16px;
		padding-left: 10%;
		padding: 10px 24px 11px 24px;
	}

	#hero .btn-watch-video {
		font-size: 16px;
		padding: 20px;
		margin-left: 20px;
	}

	#hero .btn-watch-video i {
		font-size: 32px;
		top: 7px;
	}
}

@-webkit-keyframes up-down {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes up-down {
	0% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background-color: #f7fcfc;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	letter-spacing: 1px;
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #0c953b;
	bottom: 0;
	left: calc(50% - 25px);
}

.section-title p {
	margin-bottom: 0;
	letter-spacing: 1px;
	text-align: justify;
}

.breadcrumbs {
	padding: 20px 0;
	background-color: #ecf8f9;
	min-height: 40px;
	margin-top: 120px;
}

@media (max-width: 992px) {
	.breadcrumbs {
		margin-top: 70px;
	}
}

.breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}

@media (max-width: 992px) {
	.breadcrumbs h2 {
		margin: 0 0 10px 0;
	}
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #6c757d;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}

.featured-services {
	background-color: #ecf0b2;
}

.featured-services .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
	margin-top: 10%;
}

.featured-services .icon-box::before {
	content: "";
	position: absolute;
	background: #d9f1f2;
	right: 0;
	left: 0;
	bottom: 0;
	top: 100%;
	transition: all 0.3s;
	z-index: -1;
}

.featured-services .icon-box:hover::before {
	background: #0c953b;
	top: 0;
	border-radius: 0px;
}

.featured-services .icon {
	margin-bottom: 15px;
}

.featured-services .icon i {
	font-size: 48px;
	line-height: 1;
	color: #0c953b;
	transition: all 0.3s ease-in-out;
}

.featured-services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.featured-services .title a {
	color: #111;
}

.featured-services .description {
	font-size: 15px;
	line-height: 35px;
	margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
	color: #fff;
}

.featured-services .icon-box:hover .icon i {
	color: #fff;
}

.cta h3 {
	font-size: 28px;
	font-weight: 700;
}

.cta .cta-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 25px;
	transition: 0.5s;
	margin-top: 10px;
	border: 2px solid #fff;
	color: #fff;
}

.cta .cta-btn:hover {
	background: #fff;
	color: #3fbbc0;
}

.about {
	background-color: #ecf0b2;
}

.about .content h3 {
	font-weight: 600;
	font-size: 26px;
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding-bottom: 10px;
}

.about .content ul i {
	font-size: 20px;
	padding-right: 4px;
	color: #0c953b;
}

.about .content p:last-child {
	margin-bottom: 0;
	letter-spacing: 1px;
}

.counts {
	background-color: #ecf0b2;
}

.counts {
	padding-bottom: 30px;
}

.counts .count-box {
	box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 100%;
	background-color: white;
}

.counts .count-box i {
	display: block;
	font-size: 30px;
	color: #0c953b;
	float: left;
}

.counts .count-box span {
	font-size: 42px;
	line-height: 24px;
	display: block;
	font-weight: 700;
	color: #555555;
	margin-left: 50px;
}

.counts .count-box p {
	padding: 30px 0 0 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.counts .count-box a {
	font-weight: 600;
	display: block;
	margin-top: 20px;
	color: #7b7b7b;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
	color: #3fbbc0;
}

.features {
	background-color: #ecf0b2;
}

.features .icon-box h4 {
	font-size: 18px;
	margin: 5px 5px 32px 60px;
}

.features .icon-box i {
	font-size: 48px;
	float: left;
	color: #0c953b;
}

.features .image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 50%;
	min-height: 280px;
	border: 20px solid #ecf0b2;
	box-shadow: 6px 6px 8px #a7a6a6,-3px -3px 4px #dfdddd;
	border-radius: 20px;
}

.images {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 380px;
	border: 20px solid #ecf0b2;
	box-shadow: 6px 6px 8px #a7a6a6,-3px -3px 4px #dfdddd;
	border-radius: 20px;
}

.services {
	background-color: #ecf0b2;
}

.services .icon-box {
	margin-bottom: 20px;
	text-align: center;
}

.services .icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 50%;
	transition: 0.5s;
	color: #0c953b;
	overflow: hidden;
	box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
	font-size: 36px;
	line-height: 0;
}

.services .icon-box:hover .icon {
	box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.services .title {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 18px;
	position: relative;
	padding-bottom: 15px;
}

.services .title a {
	color: #444444;
	transition: 0.3s;
}

.services .title a:hover {
	color: #3fbbc0;
}

.services .title::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	background: #0c953b;
	bottom: 0;
	left: calc(50% - 25px);
}

.services .description {
	line-height: 35px;
	font-size: 14px;
}

.appointment {
	background-color: #ecf0b2;
}

.appointment .php-email-form , .features .php-email-form {
	width: 100%;
}

.appointment .php-email-form .form-group, .features .php-email-form .form-group {
	padding-bottom: 8px;
}

.appointment .php-email-form .validate, .features .php-email-form .validate {
	display: none;
	color: #18d26e;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.appointment .php-email-form .error-message, .features .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #00bd42 !important;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.appointment .php-email-form .error-message br + br, .features .php-email-form .error-message br + br {
	margin-top: 25px;
}

.appointment .php-email-form .sent-message, .features .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.appointment .php-email-form .loading, .features .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.appointment .php-email-form .loading:before, .features .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input, .appointment .php-email-form textarea, .appointment .php-email-form select {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.appointment .php-email-form input:focus, .appointment .php-email-form textarea:focus, .appointment .php-email-form select:focus {
	border-color: #0c953b;
}

.appointment .php-email-form input, .appointment .php-email-form select {
	height: 44px;
}

.appointment .php-email-form textarea {
	padding: 10px 12px;
}

.appointment .php-email-form button[type=submit], .features .php-email-form button[type=submit] {
	background: #0c953b !important;
	border: 0 !important;
	padding: 10px 35px !important;
	color: #fff !important;
	transition: 0.4s;
	border-radius: 50px !important;
}

.appointment .php-email-form button[type=submit]:hover , .features .php-email-form button[type=submit]:hover {
	background: #0c953b !important;
}

.departments {
	background-color: #ecf0b2;
}

.departments .nav-tabs {
	border: 0;
}

.departments .nav-link {
	border: 0;
	padding: 20px;
	color: #555555;
	border-radius: 0;
	border-left: 5px solid #f7fcfc;
	cursor: pointer;
}

.departments .nav-link h4 {
	font-size: 18px;
	font-weight: 600;
	transition: 0.3s;
}

.departments .nav-link p {
	font-size: 14px;
	margin-bottom: 0;
}

.departments .nav-link:hover h4 {
	color: #0c953b;
}

.departments .nav-link.active {
	background: #f7fcfc;
	border-color: #0c953b;
}

.departments .nav-link.active h4 {
	color: #0c953b;
}

.departments .tab-pane.active {
	-webkit-animation: slide-down 0.5s ease-out;
	animation: slide-down 0.5s ease-out;
}

.departments .tab-pane img {
	float: left;
	max-width: 300px;
	padding: 0 15px 15px 0;
}

@media (max-width: 768px) {
	.departments .tab-pane img {
		float: none;
		padding: 0 0 15px 0;
		max-width: 100%;
	}
}

.departments .tab-pane h3 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #626262;
	line-height: 35px;
}

.departments .tab-pane p {
	color: #777777;
	letter-spacing: 1px;
	line-height: 35px;
}

.departments .tab-pane p:last-child {
	margin-bottom: 0;
}

@-webkit-keyframes slide-down {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.department .nav-tabs {
	border: 0;
}

.department .nav-link {
	border: 0;
	padding: 20px;
	color: #555555;
	border-radius: 0;
	border-left: 5px solid #0c953b;
	cursor: pointer;
}

.department .nav-link h4 {
	font-size: 18px;
	font-weight: 600;
	transition: 0.3s;
}

.department .nav-link p {
	font-size: 14px;
	margin-bottom: 0;
}

.department .nav-link:hover h4 {
	color: #3fbbc0;
}

.department .nav-link.active {
	background: #f7fcfc;
	border-color: #0c953b;
}

.department .nav-link.active h4 {
	color: #0c953b;
}

.department .tab-pane.active {
	-webkit-animation: slide-down 0.5s ease-out;
	animation: slide-down 0.5s ease-out;
}

.department .tab-pane img {
	float: left;
	max-width: 300px;
	padding: 0 15px 15px 0;
}

@media (max-width: 768px) {
	.department .tab-pane img {
		float: none;
		padding: 0 0 15px 0;
		max-width: 100%;
	}
}

.department .tab-pane h3 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #3fbbc0;
}

.department .tab-pane p {
	color: #777777;
}

.department .tab-pane p:last-child {
	margin-bottom: 0;
}

@-webkit-keyframes slide-down {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
	overflow: hidden;
}

.testimonials .testimonial-item {
	box-sizing: content-box;
	min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50%;
	margin: -40px 0 0 40px;
	position: relative;
	z-index: 2;
	border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 45px;
	color: #111;
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
	color: #b2e4e6;
	font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 0 15px 0 15px;
	padding: 20px 20px 60px 20px;
	background: #f0fafa;
	position: relative;
	border-radius: 6px;
	position: relative;
	z-index: 1;
}

.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #3fbbc0;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #3fbbc0;
}

.doctors {
	background-color: #ecf0b2;
}

.doctors .member {
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
}

.doctors .member .social {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 40px;
	opacity: 0;
	transition: ease-in-out 0.3s;
	background: rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
}

.doctors .member .social a {
	transition: color 0.3s;
	color: #555555;
	margin: 0 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.doctors .member .social a i {
	line-height: 0;
}

.doctors .member .social a:hover {
	color: #0c953b;
}

.doctors .member .social i {
	font-size: 18px;
	margin: 0 2px;
}

.doctors .member .member-info {
	padding: 25px 15px;
}

.doctors .member .member-info h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 18px;
	color: #555555;
}

.doctors .member .member-info span {
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #aaaaaa;
}

.doctors .member .member-info p {
	font-style: italic;
	font-size: 14px;
	line-height: 36px;
	color: #777777;
}

.doctors .member:hover .social {
	opacity: 1;
}

.gallery {
	background-color: #ecf0b2;
}

.gallery {
	overflow: hidden;
}

.gallery .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #0c953b;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #0c953b;
}

.gallery .swiper-slide-active {
	text-align: center;
}

@media (min-width: 992px) {
	.gallery .swiper-wrapper {
		padding: 40px 0;
	}

	.gallery .swiper-slide-active {
		border: 6px solid #0c953b;
		padding: 4px;
		background: #fff;
		z-index: 1;
		transform: scale(1.2);
		margin-top: 10px;
	}
}

.pricing {
	background-color: #ecf0b2;
}

.pricing .box {
	padding: 20px;
	background: #fff;
	text-align: center;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

.pricing h3 {
	font-weight: 400;
	margin: -20px -20px 20px -20px;
	padding: 20px 15px;
	font-size: 16px;
	font-weight: 600;
	color: #777777;
	background: #f8f8f8;
}

.pricing h4 {
	font-size: 36px;
	color: #0c953b;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	margin-bottom: 20px;
}

.pricing h4 sup {
	font-size: 20px;
	top: -15px;
	left: -3px;
}

.pricing h4 span {
	color: #bababa;
	font-size: 16px;
	font-weight: 300;
}

.pricing ul {
	padding: 0;
	list-style: none;
	color: #444444;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}

.pricing ul li {
	padding-bottom: 16px;
}

.pricing ul i {
	color: #3fbbc0;
	font-size: 18px;
	padding-right: 4px;
}

.pricing ul .na {
	color: #ccc;
	text-decoration: line-through;
}

.pricing .btn-wrap {
	margin: 20px -20px -20px -20px;
	padding: 20px 15px;
	background: #f8f8f8;
	text-align: center;
}

.pricing .btn-buy {
	background: transparent;
	border: 1px solid #0c953b;
	display: inline-block;
	padding: 8px 35px 10px 35px;
	border-radius: 4px;
	color: #0c953b;
	transition: none;
	font-size: 14px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	transition: 0.3s;
}

.pricing .btn-buy:hover {
	background: #0c953b;
	color: white;
}

.pricing .featured h3 {
	color: #fff;
	background: #0c953b;
}

.pricing .advanced {
	width: 200px;
	position: absolute;
	top: 18px;
	right: -68px;
	transform: rotate(45deg);
	z-index: 1;
	font-size: 14px;
	padding: 1px 0 3px 0;
	background: #3fbbc0;
	color: #fff;
}

.faq {
	padding: 60px 0;
	background-color: #ecf0b2;
	;
}

.faq .faq-list {
	padding: 0;
	list-style: none;
}

.faq .faq-list li {
	border-bottom: 1px solid #d9f1f2;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.faq .faq-list .question {
	display: block;
	position: relative;
	font-family: #0c953b;
	font-size: 18px;
	line-height: 35px;
	font-weight: 400;
	padding-left: 25px;
	cursor: pointer;
	color: #0c953b;
	transition: 0.3s;
}

.faq .faq-list i {
	font-size: 16px;
	position: absolute;
	left: 0;
	top: -2px;
}

.faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 25px;
	line-height: 35px;
}

.faq .faq-list .icon-show {
	display: none;
}

.faq .faq-list .collapsed {
	color: black;
}

.faq .faq-list .collapsed:hover {
	color: #0c953b;
}

.faq .faq-list .collapsed .icon-show {
	display: inline-block;
	transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
	display: none;
	transition: 0.6s;
}

.featured-services {
	background-color: #ecf0b2;
}

.contact {
	background-color: #ecf0b2;
}

.contact .info-box {
	color: #444444;
	background-color: white;
	text-align: center;
	box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
	padding: 20px 0 30px 0;
}

.contact .info-box i {
	font-size: 32px;
	color: #0c953b;
	border-radius: 50%;
	padding: 8px;
	border: 2px dotted #0c953b;
}

.contact .info-box h3 {
	font-size: 20px;
	color: #777777;
	font-weight: 700;
	margin: 10px 0;
}

.contact .info-box p {
	padding: 0;
	line-height: 36px;
	font-size: 14px;
	margin-bottom: 0;
}

.contact .php-email-form {
	box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
	padding: 30px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 4px;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
	border-color: #3fbbc0;
}

.contact .php-email-form input {
	padding: 10px 15px;
}

.contact .php-email-form textarea {
	padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
	background: #3fbbc0;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
	background: #65c9cd;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#footer {
	background: #ecf0b2;
	padding: 0 0 30px 0;
	font-size: 14px;
}

#footer .footer-top {
	background: #ecf0b2;
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #0c953b;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #0c953b;
	text-decoration: none;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: 600;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #0c953b;
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #555555;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	color: #0c953b;
}

#footer .footer-top .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px;
	width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #3fbbc0;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
	background: #65c9cd;
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
}

#footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #111;
}

.blog {
	padding: 40px 0px 20px 0px;
	background-color: #ecf0b2;
}

.blog .entry {
	padding: 60px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	background-color: white;
	height: 1000px;
	line-height: 30px;
	height: auto;
	margin-bottom: 60px;
	overflow: hidden;
}

.blog .entry .entry-img {
	max-height: 1100px;
	margin: -30px -30px 20px -30px;
	overflow: hidden;
}

.blog .entry .entry-title {
	font-size: 28px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 20px 0;
	letter-spacing: 1px;
	;
}

.blog .entry .entry-title a {
	color: #626262;
	transition: 0.3s;
	letter-spacing: 1px;
	line-height: 35px;
}

.blog .entry .entry-title a:hover {
	color: #626262;
}

.blog .entry .entry-meta {
	margin-bottom: 15px;
	color: #c1c8d0;
}

.blog .entry .entry-meta ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 0;
}

.blog .entry .entry-meta ul li + li {
	padding-left: 20px;
}

.blog .entry .entry-meta i {
	font-size: 16px;
	margin-right: 8px;
	line-height: 0;
}

.blog .entry .entry-meta a {
	color: #777777;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
}

.blog .entry .entry-content p {
	line-height: 35px;
}

.blog .entry .entry-content .read-more {
	-moz-text-align-last: right;
	text-align-last: right;
}

.blog .entry .entry-content .read-more a {
	display: inline-block;
	background: #3fbbc0;
	color: #fff;
	padding: 6px 20px;
	transition: 0.3s;
	font-size: 14px;
	border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
	background: #3fbbc0;
}

.blog .entry .entry-content h3 {
	font-size: 22px;
	margin-top: 30px;
	font-weight: bold;
}

.blog .entry .entry-content blockquote {
	overflow: hidden;
	background-color: #fafafa;
	padding: 60px;
	position: relative;
	text-align: center;
	margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
	color: #444444;
	line-height: 1.6;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #556270;
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog .entry .entry-footer {
	padding-top: 10px;
	border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
	color: #a4afba;
	display: inline;
}

.blog .entry .entry-footer a {
	color: #606f7e;
	transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
	color: #3fbbc0;
}

.blog .entry .entry-footer .cats {
	list-style: none;
	display: inline;
	padding: 0 20px 0 0;
	font-size: 14px;
}

.blog .entry .entry-footer .cats li {
	display: inline-block;
}

.blog .entry .entry-footer .tags {
	list-style: none;
	display: inline;
	padding: 0;
	font-size: 14px;
}

.blog .entry .entry-footer .tags li {
	display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
	padding-right: 6px;
	color: #6c757d;
	content: ",";
}

.blog .entry .entry-footer .share {
	font-size: 16px;
}

.blog .entry .entry-footer .share i {
	padding-left: 5px;
}

.blog .entry-single {
	margin-bottom: 30px;
}

.blog .blog-author {
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
	width: 120px;
	margin-right: 20px;
}

.blog .blog-author h4 {
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0px;
	padding: 0;
	color: #556270;
}

.blog .blog-author .social-links {
	margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
	color: rgba(85, 98, 112, 0.5);
	margin-right: 5px;
}

.blog .blog-author p {
	font-style: italic;
	color: #b7b7b7;
}

.blog .blog-comments {
	margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
	font-weight: bold;
}

.blog .blog-comments .comment {
	margin-top: 30px;
	position: relative;
}

.blog .blog-comments .comment .comment-img {
	margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
	width: 60px;
}

.blog .blog-comments .comment h5 {
	font-size: 16px;
	margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
	font-weight: bold;
	color: #444444;
	transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
	color: #d9232d;
}

.blog .blog-comments .comment h5 .reply {
	padding-left: 10px;
	color: #556270;
}

.blog .blog-comments .comment h5 .reply i {
	font-size: 20px;
}

.blog .blog-comments .comment time {
	display: block;
	font-size: 14px;
	color: #6b7b8d;
	margin-bottom: 5px;
}

.blog .blog-comments .comment.comment-reply {
	padding-left: 40px;
}

.blog .blog-comments .reply-form {
	margin-top: 30px;
	padding: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
	font-weight: bold;
	font-size: 22px;
}

.blog .blog-comments .reply-form p {
	font-size: 14px;
}

.blog .blog-comments .reply-form input {
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
	box-shadow: none;
	border-color: #e9797f;
}

.blog .blog-comments .reply-form textarea {
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
	box-shadow: none;
	border-color: #8ae6e9;
}

.blog .blog-comments .reply-form .form-group {
	margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
	border-radius: 4px;
	padding: 10px 20px;
	border: 0;
	background-color: #556270;
}

.blog .blog-comments .reply-form .btn-primary:hover {
	background-color: #606f7e;
}

.blog .blog-pagination {
	color: #8795a4;
}

.blog .blog-pagination ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.blog .blog-pagination li {
	margin: 0 5px;
	transition: 0.3s;
}

.blog .blog-pagination li a {
	color: #556270;
	padding: 7px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
	background: #3fbbc0;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
	color: #fff;
}

.blog .sidebar {
	padding: 30px;
	margin: 0 0 60px 20px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
	color: #556270;
	position: relative;
}

.blog .sidebar .sidebar-item {
	margin-bottom: 30px;
}

.blog .sidebar .search-form form {
	background: #fff;
	border: 1px solid #ddd;
	padding: 3px 10px;
	position: relative;
}

.blog .sidebar .search-form form input[type=text] {
	border: 0;
	padding: 4px;
	border-radius: 4px;
	width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 15px;
	margin: -1px;
	background: #0c953b;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	line-height: 0;
}

.blog .sidebar .search-form form button i {
	line-height: 0;
}

.blog .sidebar .search-form form button:hover {
	background: #0c953b;
}

.blog .sidebar .categories ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .categories ul li + li {
	padding-top: 10px;
}

.blog .sidebar .categories ul a {
	color: #556270;
	transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
	color: #0c953b;
}

.blog .sidebar .categories ul a span {
	padding-left: 5px;
	color: #aaaaaa;
	font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
	margin-top: 15px;
}

.blog .sidebar .recent-posts img {
	width: 80px;
	float: left;
}

.blog .sidebar .recent-posts h4 {
	font-size: 15px;
	margin-left: 95px;
	font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
	color: #556270;
	transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
	color: #3fbbc0;
}

.blog .sidebar .recent-posts time {
	display: block;
	margin-left: 95px;
	font-style: italic;
	font-size: 14px;
	color: #aaaaaa;
}

.blog .sidebar .tags {
	margin-bottom: -10px;
}

.blog .sidebar .tags ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .tags ul li {
	display: inline-block;
}

.blog .sidebar .tags ul a {
	color: #96a2af;
	font-size: 14px;
	padding: 6px 14px;
	margin: 0 6px 8px 0;
	border: 1px solid white;
	display: inline-block;
	transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
	color: #fff;
	border: 1px solid #3fbbc0;
	background: #3fbbc0;
}

.blog .sidebar .tags ul a span {
	padding-left: 5px;
	color: #fbfbfc;
	font-size: 14px;
}

.member-img .video-box1 {
	background: url("../img/doctor1.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
	min-width: 308px;
}

.member-img .video-box2 {
	background: url("") center center no-repeat;
	background-size: cover;
	min-height: 350px;
	min-width: 308px;
}

.member-img .video-box3 {
	background: url("../img/doctor3.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
	min-width: 308px;
}

.member-img .video-box4 {
	background: url("../img/doctor4.jpg") center center no-repeat;
	background-size: cover;
	min-height: 350px;
	min-width: 308px;
}

.member-img .play-btn {
	width: 74px;
	height: 74px;
	background: radial-gradient(#0c953b 50%, #0c953b 52%);
	border-radius: 50%;
	display: block;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 47px);
	overflow: hidden;
	margin: 30%;
}

.member-img .play-btn::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 100;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.member-img .play-btn::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: pulsate-btn 2s;
	animation: pulsate-btn 2s;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(25, 119, 204, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}

.member-img .play-btn:hover::after {
	border-left: 15px solid #0c953b;
	transform: scale(20);
}

.member-img .play-btn:hover::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 200;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}